./ocs-api/ocs-db/
./ocs-api/linux/ocs-api
./agent-install.crt

# Where the SDO files are downloaded to
./sdo/
# Where the FDO files are downloaded to 
./fdo/
#todo: remove

./vendor/
.vscode/

# Intellij GoLand files
.idea/
